@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    color: white;
    font-family: 'Lato', sans-serif;
    position: relative;
    height: 100vh;
}

.container {
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#texti {
    background-color: black;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove 3px;
    outline: none;
    height: 50px;
    font-size: 1.5rem;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.texti {
    font-family: 'Poppins', sans-serif;
}

